@charset "UTF-8";

@font-face {
  font-family: 'PFDinTextCondPro';
  src: url("../font/pfdintextcondpro-regular.eot");
  src: local("☺"), url("../font/pfdintextcondpro-regular.woff") format("woff"), url("../font/pfdintextcondpro-regular.ttf") format("truetype"), url("../font/pfdintextcondpro-regular.svg") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'PFDinTextCondPro';
  src: url("../font/pfdintextcondpro-medium.eot");
  src: local("☺"), url("../font/pfdintextcondpro-medium.woff") format("woff"), url("../font/pfdintextcondpro-medium.ttf") format("truetype"), url("../font/pfdintextcondpro-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }


@font-face {
  font-family: 'KumbhSans-Black';
  src: url("../font/KumbhSans-Black.ttf");
  src: local("☺"), url("../font/KumbhSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'KumbhSans-Bold';
  src: url("../font/KumbhSans-Bold.ttf");
  src: local("☺"), url("../font/KumbhSans-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'KumbhSans-Thin';
  src: url("../font/KumbhSans-Thin.ttf");
  src: local("☺"), url("../font/KumbhSans-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'KumbhSans-Black';
  src: url("../font/KumbhSans-Black.ttf");
  src: local("☺"), url("../font/KumbhSans-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }




@font-face {
  font-family: 'CYN_Gamer';
  src: url("../font/CYN_Gamer.otf");
  src: local("☺"), url("../font/CYN_Gamer.otf") format("opentype");
  font-weight: normal;
  font-style: italic; }
