@charset "UTF-8";
/* This CSS File was created by www.pixelateddesign.co.uk */
/* This is free if you have purchased this templete please contact us useign the email */
/* info@pixelateddesign.co.uk along with the amount you payed for your website */

/* This file remains property of www.pixelateddesign.co.uk however this is free to use for personal use */

body {
  margin: 0px;
  padding: 0px;
  background-color: #060606;
  color: #ffffff;
  font-family: "KumbhSans-Black";
}

.contain {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
.contentTitle {
  font-family: "CYN_Gamer";
}
.first-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-wrapper {
  width: 100%;
}
.menu {
  display: flex;
  flex: 1;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 auto;
}
.menu div {
  cursor: pointer;
}
.menu-link {
  display: flex;
  flex: 1;
  font-family: "KumbhSans-Thin";
  justify-content: center;
  align-items: center;
  border-right: 1px solid #333333;
  border-left: 1px solid #333333;
  height: 100%;
}
.menu-link-logo {
  display: flex;
  flex: 3;
  font-family: "CYN_Gamer";
  font-size: 28px;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #333333;
  border-left: 1px solid #333333;
  height: 100%;
}
.menu-link:hover {
  background-color: #333333;
}
.main-img {
  width: 100%;
  margin: 32px 0;
}
.main-sub-title {
  font-family: "KumbhSans-Thin";
  font-size: 18px;
  line-height: 27px;
}
.line-gray {
  margin: 0;
  border: 0;
  height: 2px;
  background: #333333;
}

.hero-section {
  position: relative;
  overflow: hidden;
  font: 900 9vw/1 sans-serif;
}
.hero-section .item {
  font-family: "CYN_Gamer";
  color: transparent;
 
  padding: 17px 0;
  -webkit-text-stroke-color: #323232;
  -webkit-text-stroke-width: 1px;
}
